
#page2 {
    height: 100vh;
    width: 100%;
    /* background-color: #111; */
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    justify-content: space-between;
}

#page2-left {
    height: 100%;
    width: 40%;
    /* background-color: #333; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

#page2-left p {
    font-size: 0.8vw;
    color: white;

}

#page2-left h5 {
    width: 75%;
    font-weight: 400;
    font-size: 1.1vw;
    color: white;

}


#page2-right {
    height: 100%;
    width: 50%;
    /* background-color: #333; */
}

.right-elem {
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
    color: white;

}

.right-elem img {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    scale: 0;
}